.addButton {
    position:fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 100%;
    color: black;
    font-weight: 900;
    font-size: 42px;
    user-select: none !important;
    /* border:1px solid black; */
    display: inline-block;
}

.addButton:hover {
    transform: scale(1.2);
    color: #ccb7ae;
    text-decoration: none;
    user-select: none;
}