.App {
}

.BoardContainer {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.PostContainer {
  height: 300px;
  width: 250px;
  background-color: #a9d6e5;
  position: absolute;
  background: linear-gradient(45deg, transparent 30px, #a9d6e5 30px);
  filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.2));
  padding: 10px;
  padding-bottom: 50px;
  overflow: hidden;
  border-radius: 2px;
}


.InnerPostContainer {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  /* transform-origin: 0% 0%; */
  overflow: hidden;
  padding: 5px;
  overflow-wrap: break-word;
}

.PostContainer:hover{
  transform: scale(1.12);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.PostContainer:hover .InnerPostContainer{
  overflow: auto;
}

.InnerPostContainer img, .InnerPostContainer p {
  max-width: 100%;
}

.PostContainer:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 45px solid transparent;
  border-top: 45px solid #89c2d9;
  bottom: 0px;
  left: 0px;
  position: absolute;
  filter: drop-shadow(2px -1px 2px rgba(0, 0, 0, 0.2));
  margin-right: 10%;
}

.ql-editor {
  min-height: 150px;
}

.GhostPost {
  opacity: 0.4;
}

.GhostPostMousePad {
  height: 100vh;
  width: 100vw;
}
.PostContainer:nth-of-type(1) {
  margin-right: 9%;
}

.Standard {
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  opacity: 0.95;
  position: absolute;
  filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.2));
}

.CardBoard {
  background-image: url(./components/img/texture/cardboard-texture-1157848.jpg);
}

.Curtain {
  background-image: url(./components/img/texture/curtains-2-1228217.jpg);
}

.GoldPaper {
  background-image: url(./components/img/texture/gold-paper-1178652.jpg);
}
.GrungeWall {
  background-image: url(./components/img/texture/grunge-wall-1183561.jpg);
}
.IsroP11 {
  background-image: url(./components/img/texture/istockphoto-1159352213-612x612.jpg);
}
.IsroP05 {
  background-image: url(./components/img/texture/istockphoto-527897414-612x612.jpg);
}
.IsroP09 {
  background-image: url(./components/img/texture/istockphoto-988996416-170x170.jpg);
}
.PhotoRetro {
  background-image: url(./components/img/texture/photo-retro-1175854.jpg);
}
.SeaCrystal {
  background-image: url(./components/img/texture/seasalt-crystal-structure-1198330.jpg);
}
.TexturedBeadG {
  background-image: url(./components/img/texture/textured-beaded-glass-1504247.jpg);
}
.Tiles11 {
  background-image: url(./components/img/texture/tiles-1168941.jpg);
}
.Tiles14 {
  background-image: url(./components/img/texture/tiles-1463578.jpg);
}
.CardBoardWhite {
  background-image: url(./components/img/texture/white-cardboard-texture-hi-res-thumb30.png);
}
.genderLogo {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}


/* =============== Scrollbar =============== */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}
/* =============== ========= =============== */
