.App {
}

.BoardContainer {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.PostContainer {
  height: 300px;
  width: 250px;
  background-color: #a9d6e5;
  position: absolute;
  background: linear-gradient(45deg, transparent 30px, #a9d6e5 30px);
  filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.2));
  padding: 10px;
  padding-bottom: 50px;
  overflow: hidden;
  border-radius: 2px;
}

.InnerPostContainer {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  /* transform-origin: 0% 0%; */
  overflow: hidden;
  padding: 5px;
  overflow-wrap: break-word;
}

.PostContainer:hover{
  transform: scale(1.12);
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.PostContainer:hover .InnerPostContainer{
  overflow: auto;
}

.InnerPostContainer img, .InnerPostContainer p {
  max-width: 100%;
}

.PostContainer:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 45px solid transparent;
  border-top: 45px solid #89c2d9;
  bottom: 0px;
  left: 0px;
  position: absolute;
  filter: drop-shadow(2px -1px 2px rgba(0, 0, 0, 0.2));
  margin-right: 10%;
}

.GhostPost {
  opacity: 0.4;
}

.GhostPostMousePad {
  height: 100vh;
  width: 100vw;
}
.PostContainer:nth-of-type(1) {
  margin-right: 9%;
}

.genderLogo {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
