.App {
}

.BoardContainer {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

.PostContainer {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  position: absolute;
}

.GhostPost {
  opacity: 0.4;
}